---
const menu_data = [
	{
		data: [
			{
				to: '#',
				title: 'About Monstercat'
			},
			{
				to: '#',
				title: 'Contact Us'
			},
			{
				to: '#',
				title: 'Careers'
			},
			{
				to: '#',
				title: 'News'
			},

			{
				to: '#',
				title: 'Press'
			}
		]
	},
	{
		data: [
			{
				to: '#',
				title: 'Terms of Service'
			},
			{
				to: '#',
				title: 'Privacy Policy'
			}
		]
	}
]
---

<footer class="wrapper-content mt-24 pb-20">
	<div class="md:grid md:grid-cols-3 md:items-start md:gap-x-10">
		{
			menu_data.map(({ data }) => {
				return (
					<nav class="title flex flex-col items-start gap-y-0.5 md:text-xl">
						{data.map((item) => {
							return <a href={item.to}>{item.title}</a>
						})}
					</nav>
				)
			})
		}
		<div class="mt-12 md:mt-0">
			<h3 class="font-heading font-bold uppercase text-[#898888] md:text-xl">Monstercat News</h3>
			<p class="mb-8 mt-4 italic tracking-[1px]">
				Don't miss a thing, stay up to date with the latest news from us.
			</p>
			<form class="flex items-center border-b border-[#898888] pb-1 pr-6">
				<input
					type="email"
					name="email"
					id="email"
					placeholder="Enter email"
					class="flex flex-grow basis-0 bg-transparent px-0.5 py-1 text-lg placeholder:text-[#898888]"
				/>
				<button type="submit">
					<svg xmlns="http://www.w3.org/2000/svg" width="128" viewBox="0 0 24 24" class="w-6"
						><path
							fill="currentColor"
							d="M16.15 13H5q-.425 0-.712-.288T4 12q0-.425.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375q0 .2-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z"
						></path></svg
					>
				</button>
			</form>
		</div>
	</div>
</footer>
