---
import LinkButton from './LinkButton.astro'

const playlists_data = [
	{
		to: '#',
		Image: '/images/playlists/women-in-dance.webp',
		alt: 'Women in dance'
	},
	{
		to: '#',
		Image: '/images/playlists/relaxing-electronic.webp',
		alt: 'Relaxing electronic'
	},
	{
		to: '#',
		Image: '/images/playlists/deep-house.webp',
		alt: 'Deep house'
	},
	{
		to: '#',
		Image: '/images/playlists/gaming.webp',
		alt: 'Gaming'
	}
]
---

<section class="wrapper-content mt-12">
	<div class="mb-8 flex flex-col gap-y-8 md:flex-row md:justify-between md:py-3">
		<h2 class="title text-xl">Our Playlists</h2>
		<a href="#" class="flex items-center gap-x-2 text-base font-bold"
			>Listen on Monstercat Player <svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="w-4"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"
				></path></svg
			></a
		>
	</div>
	<div class="grid grid-cols-2 gap-4 sm:grid-cols-2 min-[1440px]:grid-cols-4">
		{
			playlists_data.map((playlist) => {
				return (
					<a href={playlist.to}>
						<picture>
							<img src={playlist.Image} alt={playlist.alt} />
						</picture>
					</a>
				)
			})
		}
	</div>
</section>
